<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          th:href="@{/css/main.css}"/>
    <style type="text/css">
        body {
            padding-top: 50px;
        }
    </style>

</head>
<body>
<div th:include="navbar :: navbar"></div>

<div class="container">
    <h1 layout:fragment="header">Layout</h1>

    <div class="alert alert-success alert-dismissable" th:if="${globalFlashMessage != null}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span th:text="${globalFlashMessage}"></span>
    </div>

    <div layout:fragment="content">
        Fake content
    </div>

    <script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
</div>
</body>
</html>